body {
	margin: 0;
	padding: 0;
	border: 0; 
	font-family:Georgia, 'Times New Roman', Times, serif;
	background-color: #4487ec;  
}

header { 
	text-align: center;	
	height: 75px;
	padding-top: 25px;	
	color: red;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
}

main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;
		
}

.box {
	width: 350px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;	
	color: #4487ec;
	border-style: inherit;    
	margin-bottom: 20px;
	
}
.box:hover {
	box-shadow: 10px 10px 15px #f70000;
}

.box h2 {
	margin: 0 0 10px 0;
	padding: 0;
}

.box figure {
	width: 300px;
	height: 200px;
	padding-top: 10px;
	text-align: center;
	margin: auto;
}

img {
	width: 300px;
	height: 200px;    
}


.box p {
	text-align: center;	
}

footer {
	background-color: rgb(102, 230, 85);
	height: 50px;
	padding-top: 10px;
	color: rgb(0, 0, 0);
	text-align: center;
}

header img {
width: 50px;
height: 50px;

}

